body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  background: white;
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
}

#title, #settings-open-btn, #modal-close-btn {
  float: left;
  height: 60px;
  width: 160px;
  line-height: 60px;
  font-size: 1.2em;
}

#title {
  text-align: center;
}

#settings-open-btn {
  padding-left: 20px;
  color: #777777;
}

#modal-close-btn {
  text-align: right;
  padding-right: 20px;
  color: #777777;
}

#settings-open-btn i, #modal-close-btn i {
  padding: 5px;
}

#settings-open-btn i:hover, #modal-close-btn i:hover {
  color: #333333;
}

/* Tabbed menu in popup */

/* Style the tab */
div.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

div.active {
  display: block;
}



/* Tabs list */

#tabs {
  padding: 20px;
}

#tabs-table {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

#tabs-table tr td {
  max-width: 320px;
  padding: 5px;
}

#tabs-table img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.tab-title {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}

.tab-timer {
  margin-top: 3px;
  font-size: 0.8em;
  color: #808080;
}



/* Form */

#settings {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  transition: 0.2s;
  background: white;
}

#settings #settings-title {
  float: left;
  height: 60px;
  width: 100px;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em;
}

#settings #settings-close-btn {
  float: left;
  height: 60px;
  width: 100px;
  line-height: 60px;
  color: #777777;
  padding-left: 20px;
  font-size: 1.2em;
}

#settings #settings-close-btn i {
  padding: 5px;
}

#settings-close-btn i:hover {
  color: #333333;
}

#settings-form {
  padding: 20px;
}

#settings-form input {
  margin: 5px 0 3px 0;
  border: 1px solid #888888;
  border-radius: 2px;
  background: none;
  height: 30px;
  width: 50px;
  font-size: 1em;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

#settings-form input:focus {
  outline-width: 0;
  border-color: #333333;
}

#settings-form input.submit:hover {
  border-color: #333333;
}

#time-limit-error, #min-open-tabs-error {
  color: red;
  font-size: 0.7em;
  margin-bottom: 3px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -14px;
  left: 160%; 
}

#tooltiptext2 {
  width: 280px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}




/* Animated lock icon */

.fa {
  font-weight: 300;
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 2rem;
}

.content {
  text-align: center;
  line-height: 30px;
}

.panel {
  position: relative;
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
}
/*.panel:hover {
  color: black;
  background-color: white;
  transition: color 0.4s ease-out, background 0.4s ease-out;
}
.panel:first-child {
  margin-left: 0;
}
.panel:last-child {
  margin-right: 0;
}*/




/* 
Design by echojanz: 
http://dribbble.com/shots/1039179-Slide-Button?list=users
*/

/*
Technical inspiration from tutorial by Hugo Giraudel:
https://tympanus.net/codrops/2012/09/13/button-switches-with-checkboxes-and-css3-fanciness/
*/

/* Font Awesome */


[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Global styles */
*, *:after, *:before {
  box-sizing: border-box;
}

/*---Switch styles---*/

/* Checkbox hack */
.switch input {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* Container */
.switch {
  height: 28px;
  position: relative;
  width: 56px;
}

/* Background unchecked */
.switch label {
  background: #e9513a;
  color: #c72f18;
  border-radius: 2px;
  display: block;
  height: 100%;
  position: relative;
  transition: all .15s ease;
  width: 100%;
}

/* Slider unchecked */
.switch label div {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: all .15s ease;
  width: 24px;
  z-index: 3; 
}

/* Vertical lines on slider */
.switch label div:before {
  background: #d3d3d3;
  bottom: 0;
  box-shadow: -6px 0 0 0 #d3d3d3,
        6px 0 0 0 #d3d3d3; 
  content: '';
  display: block;
  height: 15px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .15s ease;
  width: 3px;
}

/* Icon styles */
.switch .fontawesome-ok {
  font-size: 16px;
  left: 9px;
  position: relative;
  top: 6px;
  z-index: 2;
}

.fontawesome-ok:before {
  content: "\f13e";
}

.switch .fontawesome-remove {
  font-size: 16px;
  left: 27px;
  position: relative;
  top: 6px;
  z-index: 2;
}

.fontawesome-remove:before {
  content: "\f023";
}

/* Checked States */
.switch input:checked~label {
  background: #2fca6c;
  color: #13ad4f;
}

.switch input:checked~label div {
  left: 28px;
}
