body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

#tabs-table {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

#tabs-table tr td {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}

#tabs-table img {
  height: 14px;
  width: 14px;
}