body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 480px;
  height: 600px;
}

#tabs-table {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

#tabs-table tr td {
  max-width: 360px;
  padding: 5px;
}

#tabs-table img {
  height: 16px;
  width: 16px;
  border-radius: 2px;
}

.tab-title {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}

.tab-timer {
  margin-top: 3px;
  font-size: 0.8em;
  color: #808080;
}



/* Tabbed menu in popup */

/* Style the tab */
div.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

div.active {
  display: block;
}


/* Animated lock icon */

.fa {
  font-weight: 300;
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 2rem;
}

.content {
  text-align: center;
  line-height: 30px;
}

.panel {
  position: relative;
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
}
/*.panel:hover {
  color: black;
  background-color: white;
  transition: color 0.4s ease-out, background 0.4s ease-out;
}
.panel:first-child {
  margin-left: 0;
}
.panel:last-child {
  margin-right: 0;
}*/




/* 
Design by echojanz: 
http://dribbble.com/shots/1039179-Slide-Button?list=users
*/

/*
Technical inspiration from tutorial by Hugo Giraudel:
https://tympanus.net/codrops/2012/09/13/button-switches-with-checkboxes-and-css3-fanciness/
*/

/* Font Awesome */


[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Global styles */
*, *:after, *:before {
  box-sizing: border-box;
}

/*---Switch styles---*/

/* Checkbox hack */
.switch input {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* Container */
.switch {
  height: 28px;
  position: relative;
  width: 56px;
}

/* Background unchecked */
.switch label {
  background: #e9513a;
  color: #c72f18;
  border-radius: 2px;
  display: block;
  height: 100%;
  position: relative;
  transition: all .15s ease;
  width: 100%;
}

/* Slider unchecked */
.switch label div {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: all .15s ease;
  width: 24px;
  z-index: 3; 
}

/* Vertical lines on slider */
.switch label div:before {
  background: #d3d3d3;
  bottom: 0;
  box-shadow: -6px 0 0 0 #d3d3d3,
        6px 0 0 0 #d3d3d3; 
  content: '';
  display: block;
  height: 15px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .15s ease;
  width: 3px;
}

/* Icon styles */
.switch .fontawesome-ok {
  font-size: 16px;
  left: 9px;
  position: relative;
  top: 6px;
  z-index: 2;
}

.fontawesome-ok:before {
  content: "\f13e";
}

.switch .fontawesome-remove {
  font-size: 16px;
  left: 27px;
  position: relative;
  top: 6px;
  z-index: 2;
}

.fontawesome-remove:before {
  content: "\f023";
}

/* Checked States */
.switch input:checked~label {
  background: #2fca6c;
  color: #13ad4f;
}

.switch input:checked~label div {
  left: 28px;
}
